/*********************
Fontes
*********************/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.box-shadow() {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.input-style() {
    font-family: Poppins;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #666666;
    height: 32px;
    border: none;
    border-radius: 25px;
    padding: 0 15px 0 30px;
    margin-top: 10px;  
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}

p {
	font-size: 16px;
	line-height: 1.4;
}

.container {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 20px 120px;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .imglogo {
        width: 140px;
    }

    .titulo {
        text-align: center;
        line-height: 0.8;

        h1 {
            font-size: 60px;
            margin-top: 20px;
            margin-bottom: 12px;
        }

    }

    .painel-login {

        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        input {

            display: block;
            background: #e6e6e6;
            width: 80%;
            .box-shadow;
            .input-style;

        }

        button {
            font-family: Montserrat;
            font-size: 15px;
            font-weight: 600;
            line-height: 1.5;
            color: #fff;
            text-transform: uppercase;
            width: 80%;
            height: 35px;
            border: none;
            border-radius: 25px;
            background: #57b846;
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .box-shadow;
        }
    }
}

.feed-campanha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px 120px;

    .header-campanha{
        
        text-align: center;
        width: 100%;

        input{
            width: 260px;
            .input-style;
            .box-shadow;
        }

        select{
            margin-left: 130px;
            .input-style;
            padding-left: 16px;
            padding-right: 8px;
        }
    }

    .campanha-box{

        font-family: Montserrat, sans-serif;
        font-color: #3b3b3b;
        background-color: #fff;
        border: #a3a3a3 1px solid;
        border-radius: 10px;
        margin: 20px 20px;
        height: auto;
        width: 280px;
        .box-shadow;

        .imagem {
            width: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-color: black;
        }

        .descricao {
            padding: 15px;
            h5 {
                font-weight: 300;
            }
        }
    }
}

